@import url('https://fonts.googleapis.com/css?family=Inter:200,300,400,500,600,700,800,900&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

header{
  position: fixed;
  top: 0px;
} 

nav{
  position: fixed;
  display: flex;
  height: 80px;
  width: 100%;
  background: #91C788;
  align-items: center;
  justify-content: space-between;
  padding: 0 50px 0 20px;
  flex-wrap: wrap;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.30);
}
  nav .logo{
      left: 44px;
      top: 15px;
  } 
  
  nav ul{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
  }
  nav ul li{
    margin: 0 5px;
    margin-top: 10px;
  }
  nav ul li a{
    color: #f2f2f2;
    text-decoration: none;
    font-size: 15px;
    font-weight: 500;
    padding: 8px 15px;
    border-radius: 5px;
    letter-spacing: 0px;
    transition: all 0.3s ease;
  }
  nav ul li a.active,
  nav ul li a:hover{
    color: #000;
    background: #fdfdfd;
  }
  nav .menu-btn i{
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    display: none;
  }
  
  input[type="checkbox"]{
    display: none;
  }
  @media (max-width: 1000px){
    nav{
      padding: 0 40px 0 50px;
    }
  }
  @media (max-width: 920px) {
    nav .menu-btn i{
      display: block;
    }
    #click:checked ~ .menu-btn i:before{
      content: "\f00d";
    }
    nav ul{
      position: fixed;
      top: 80px;
      left: -100%;
      background: #111;
      height: 100vh;
      width: 100%;
      text-align: center;
      display: block;
      transition: all 0.3s ease;
    }
    #click:checked ~ ul{
      left: 0;
    }
    nav ul li{
      width: 100%;
      margin: 40px 0;
    }
    nav ul li a{
      width: 100%;
      margin-left: -100%;
      display: block;
      font-size: 20px;
      transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
    }
    #click:checked ~ ul li a{
      margin-left: 0px;
    }
    nav ul li a.active,
    nav ul li a:hover{
      background: none;
      color: #FEFFDE;
    }
  }

main{
  margin-top: 0px;
}

.judul{
  margin-bottom: 0px;
}

.content{
  margin-bottom: 0px;
}

.judul h1{
  /*color: #FDFDFD;*/
  color: #91C788;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 900;
  font-size: 60px;
  line-height: 73px;
  margin-top: 30px;
  margin-bottom: 0px;
}

.content h4{
  /*color: #FDFDFD;*/
  color: #000;
  font-family: 'Inter';
  font-style: normal;
  text-align: center;
  font-weight: 700;
  font-size: 60px;
  line-height: 73px;
  margin-bottom: 30px;
}
.col-3 h6{
  color: #000;
  font-family: 'Inter';
  font-style: normal;
  text-align: justify;
  font-weight: 700;
  font-size: 18px;
}

.col-9 h6{
  color: #000;
  font-family: 'Inter';
  font-style: normal;
  text-align: justify;
  font-weight: 400;
  font-size: 18px;
  margin-bottom: 60px;
}

footer{
  background-color:#91C788;
  margin-bottom: 0px;
}

.text-footer{
  color: #fdfdfd;
  padding-left: 20px;
}


  